/* Empty. Add your own CSS if you like */

html, body {
  background-color: #444;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home > button {
  height: 300px;
}

.results img {
  width: 100%;
}

.results-best-title {
  text-align: center;
}
